
.name-cell {
    font-size: 17.2px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 10px;
}

.icon-cell {
    width: 5px;
    vertical-align: middle;
}

.icon-image {
    margin-right: 10px;
    vertical-align: middle;
}

.divider-cell {
    width: 0;
    border-right: 2px solid #00aeff;
}

.data-cell {
    vertical-align: right;
    padding-left: 12px;
}

.contact-link {
    font-size: 10.4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}