.signature-container {
    width: 600px;
    height: 250px;
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
    background-size: 600px 250px;
    background-repeat: no-repeat;
    background-position: left;
   /* padding: 20px;
    border-radius: 0px;
    margin: 0 auto; */
}
.name-cell {
    font-size: 17.2px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 10px;
}

.icon-cell {
    width: 5px;
    vertical-align: middle;
}

.icon-image {
    margin-right: 5px;
}

.divider-cell {
    border-right: 2px solid #00aeff;
}

.data-cell {
    vertical-align: middle;
    padding-left: 12px;
}

.contact-link {
    font-size: 10.4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
}